.img-sidebar{
    text-align: center;
}
.img-sidebar img{
    margin: 30px;
    cursor: pointer;
}
.sidebar ul{
    box-shadow: none !important;
    border: none !important;
}
.sidebar{
    box-shadow:rgb(204, 204, 204) 1px 1px 2px
}